
.card{
    background-color: #0c0434;
    min-width: 20vw;
    min-height: 80vh;
    height: auto;
    border-radius: 100px 0px;
    padding: 20px;  
    display: flex;
    flex-direction: column;  
    align-items: center;

    .nome{
        border-radius: 10px 10px 60px 10px;
        border-bottom: 3px solid #029673;
        width: 80%;
        padding-bottom: 5px;
        

        :nth-of-type(2){
            color:#808080;
        }
        h4{
        color: #fff;
        font-weight: 100;
    }
    }
    figure{
        width: 20vw;
    
    img{
   
        border-radius: 30%; 

    }
}

    .div-info{
        display: flex;
        width: 100%;

        .but-des{
            display: flex;
            gap: 20px;
            height: auto;
            width: 100%;
            
            


            .buttons{

                ul{
                    list-style-type:none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    min-height: 30vh;
                    
                }
                li{

                    .ativo{
                        display: block;
                    }
                    .desativo{
                        display: none;
                    }

                    a{
                        font-size: 1.5em;
                        color: #fff;
                    }
                }
            }

            

            .info{

                .ativo{
                    display: flex;
                }
                .desativo{
                    display: none;
                }

                div{
                    min-height: 10vh;
                    color: #fff;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-weight: 100;

                    h3{
                        font-size: 1em;
                        font-weight: 100;
                    }
                    span{
                        font-size: 0.8em;
                        font-style: italic;
                        
                    }
                }

            }
        }


    }


}

@media(max-width:900px){
    .card{
        width: 90%;
        min-height:80%;
        height: auto;
    

        .div-info{
            font-size: 1.3em;

            justify-content: center;
            height: auto;
            min-height: 50%;

            .but-des{
                justify-content: center;
            }
        }
    }
}