.sec-apresentacao{ 
    color: #fff;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 85vh;
    height: auto;
    text-align: center;
    background-image: url(/src/assets/images/img-apresentacao1.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

      div{
       font-weight: 400;
       backdrop-filter: blur(5px);
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       text-align: right;
       justify-content: center;

          h1, h2, h3 , h4, h5 {
          padding:10px;
        }
          h1{
            font-size: 2.9em;
            letter-spacing: -3px;
            
          }
          h5, h4{
            font-size: 1.3em;
          }
         
  
}

}

@media(max-width:800px){

    .sec-apresentacao{
      
      div{
        text-align: center;
    
      }
    }
}




