.sec-localizacao{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0c0434;
    color: white;
    padding: 20px 80px;
    align-items: center;

}
.sec-localizacao h2{
    margin:30px;
}
.sec-localizacao iframe{
    height: 100vh;
    width: 100%;
    border-radius: 8%;
    border-color: #0c0434;
}

@media (max-width:800px){
    .sec-localizacao{
        padding: 20px 20px;

        iframe{
            height: 50vh;
            border-radius: 2%;
        }
    }
}